@import './base/normalize';
// =======================
@import './utils/variables';
@import './utils/root';
@import './utils/placeholders';
@import './utils/mixins';
// =======================
@import './components/container';
@import './components/section';
@import './components/buttons';
@import './components/header-library';
@import './components/header';
@import './components/movie-section';
@import './components/movie-card';
@import './components/movie-card';
@import './components/login-modal';
@import './components/pagination';
@import './components/modal-one-film';
@import './components/footer';
@import './components/spinner';