<footer class="footer">
  <div class="conteiner">
    <div class="footer__text">
      <p class="item">
        © 2022 | All Rights Reserved | Developed with
        <svg class="footer__svg" height="12" width="14">
          <use href="./images/footer/symbol-defs.svg#icon-Frame"></use>
        </svg>
        <span class="footer__link">by GoIT Students</span>
      </p>
    </div>
  </div>
</footer>

<!-- </div> -->
<div class="begdrop">
  <div class="container">
    <div class="modal">
      <div class="footer-close">
        <svg class="footer-close__text" width="20" height="20">
          <use href="./images/footer/symbol-defs.svg#icon-close_24px"></use>
        </svg>
      </div>
      <!-- Swiper -->

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-a">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Dmytro.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Dmytro</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/ProtsyukPrits"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Ivanna.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Ivanna</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/IvannaKhomik"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Vasil.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Vasyl</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/busgoit"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.facebook.com/vasil.karpliuk"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Anna.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Anna</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/anyaShan"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/IMG_1175 (2).jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Maksym</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.linkedin.com/in/maksym-pavlichenko-346b60191/"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/MaksymPavlichenko"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Andriy.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Andriy</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.linkedin.com/in/andriy-kozhevnikov-3389a424a/"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/AndriyKozh"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.facebook.com/profile.php?id=100002122348822"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.instagram.com/kozhevnikov4685/"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Orest.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Orest</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/ormar90"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Stanislaw.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Stanislaw</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/stgran66"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.facebook.com/profile.php?id=100001806941782"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.instagram.com/stasgrygoriev/"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Volodymyr.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Volodymyr</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/VolodymyrVelch"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/Olha.jpg"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Olha</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://github.com/Olha-Khr"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>

                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.facebook.com/profile.php?id=100017169708192"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="footer__person">
              <div class="footer-img-content">
                <span class="overlay"></span>
                <img
                  class="footer__img"
                  src="./images/footer/photo-team/image.png"
                  alt="Photo"
                />
              </div>

              <div class="person__content">
                <span class="person__span"> </span>
                <span class="person__spanTwo"></span>
                <h2 class="person__name">Stas</h2>
                <p class="person__info">Developer</p>
                <ul class="social-list">
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-linkedin-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a target="_blank" class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs.svg#icon-github-logo_icon-iconscom_73546"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a class="social-link" href="#"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-facebook-1"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icon">
                    <a
                      target="_blank"
                      class="social-link"
                      href="https://www.instagram.com/dr.vrach_/"
                      ><svg class="foorer__modal-svg" width="20" height="20">
                        <use
                          href="./images/footer/symbol-defs copy.svg#icon-instagram-2"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- If we need pagination -->

      <!-- If we need scrollbar -->
    </div>
  </div>
</div>
