<header class="header" id="header">
    <div class="container">
        <nav class="">
              <div class="">
          <a class="" id="">
            <svg class="logo" width="24" height="24">
              <use href=""></use>
            </svg>
            <span class="">Filmoteka</span>
          </a>
            </div>
          <ul class="">
            <li class="">
              <a href="" class="" id="">
                Home
              </a>
            </li>
            <li class="">
              <a href="" class="" id="">
                My library
                </a>
            </li>
          </ul>
        </nav>
        <div class=""></div>
      </div>
    </div>
  </header>