<header class="header">
  <div class="header__conteiner conteiner">
    <!-- Header Navigation -->

    <nav class="nav">
      <a href="" class="nav__logo">
        <svg class="" width="24" height="24">
          <use href="./images/header/logo.svg"></use>
        </svg>
        Filmoteka
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html">home</a>
        </li>
        <li class="nav__item">
          <a href="./library.html">my library</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
