<header class="header">
  <div class="header__container container">
    <!-- Header Navigation -->

    <nav class="nav">
      <a href="./index.html" class="nav__logo">
        <img class="nav__logo-icon" src="./images/header/logo.svg" alt="logo" width="24" height="24" >
        </img>
        <span class="nav__logo-text">Filmoteka</span>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link lang-home" href="./index.html" id="home">home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--current lang-library" href="./library.html" id="library">my library</a>
        </li>
      </ul>

        <button
          class="header__log-btn langout library-header__log-btn"
          type="button"
          data-lang="logoutBtn"
          id="logout"
        >
          LOG OUT
        </button>
      
    </nav>

    <div class="header__btns">
      <!--NIGHT MODE-->
      <!--NIGHT MODE-->
      <label class=“header-form__switch”>
        <input class=“header-form__checkbox” type=“checkbox” />
        <span class=“header-form__slider header-form__slider--round”>
          <span class=“header-slider__box”>
            <svg class=“header-slider__icon” width=“16” height=“16">
              <use href=“./images/header/sprite.svg#icon-sun”></use>
            </svg>
          </span>
          <span class=“header-slider__box”>
            <svg class=“header-slider__icon” width=“16" height=“16”>
              <use href=“./images/header/sprite.svg#icon-moon”></use>
            </svg>
          </span>
        </span>
      </label>
      <!--LANGUAGE-->
      <div class="header__lang">
        <select class="header__lang-select">
          <option value="en">EN</option>
          <option value="ua">UA</option>
        </select>
      </div>
    </div>

    <!-- Header Search -->

    <ul class="header__button-wrap">
      <li class="header__button">
        <button type="button" class="button__primary-light lang-watched" id="watched" data-library-watched>watched</button>
      </li>
      <li class="header__button">
        <button type="button" class="button__primary-light lang-queue" id="queue" data-library-queue>queue</button>
      </li>
    </ul>
  </div>
</header>
