<header class="header">
  <div class="header__container container">
    <!-- Header Navigation -->

    <nav class="nav">
      <a href="" class="nav__logo">
        <img class="nav__logo-icon" src="./images/header/logo.svg" alt="logo" width="24" height="24" >
        </img>
        <span class="nav__logo-text">Filmoteka</span>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <button data-lang="home" class="nav__button" type="button">
              home
            </button>
          <!-- <a href="./index.html">home</a> -->
        </li>
        <li class="nav__item">
          <button data-lang="library" class="nav__button nav__button--current" type="button">
              my library
            </button>
          <!-- <a href="./library.html">my library</a> -->
        </li>
      </ul>
    </nav>

    <!-- Header Search -->

    <ul class="header__button-wrap">
      <li class="header__button">
        <button type="button" class="button__primary-light button__primary-accent">watched</button>
      </li>
      <li class="header__button">
        <button type="button" class="button__primary-light ">queue</button>
      </li>
    </ul>
  </div>
</header>
