<div class="login-modal-backdrop is-hidden">
  <div class="login-modal">
    <button type="button" class="login-modal-close-btn">
      <svg width="14px" height="14px" class="login-modal-close-icon">
        <use href="./images/login-modal/close-cross.svg#icon-close-cross"></use>
      </svg>
    </button>
    <h2>Please enter your credentials</h2>

    <div class="signup-form">
      <form>
        <label for="name">name:</label>
        <input type="name" name="name" />
        <label for="email">email:</label>
        <input type="email" name="email" />
        <label for="password">password:</label>
        <input type="password" name="password" />
        <button type="submit" class="signup-btn">signup</button>
      </form>
      <p class="login-text">
        Or <button type="button" class="login-show-btn">log in</button> if you
        already have an account
      </p>
    </div>
    <div class="login-form">
      <form>
        <label for="email">email:</label>
        <input type="email" name="email" />
        <label for="password">password:</label>
        <input type="password" name="password" />
        <button type="submit" class="login-btn">login</button>
        <p class="signup-text">
          Or <button type="button" class="signup-show-btn">sign up</button> if
          you're a new user
        </p>
      </form>
    </div>
  </div>
</div>
