<div class="login-modal-backdrop is-hidden">
  <div class="login-modal">
    <button type="button" class="login-modal-close-btn">
      <svg width="14px" height="14px" class="login-modal-close-icon">
        <use href="./images/login-modal/close-cross.svg#icon-close-cross"></use>
      </svg>
    </button>
    <h2>Please enter your credentials</h2>

    <div class="signup-container">
      <form class="signup-form" method="POST">
        <label for="signup-form-name">name:</label>
        <input type="text" name="name" id="signup-form-name" />
        <label for="signup-form-email">email:</label>
        <input
          type="email"
          name="email"
          autocomplete="email"
          id="signup-form-email"
        />
        <label for="signup-form-password">password:</label>
        <input
          type="password"
          name="password"
          autocomplete="current-password"
          id="signup-form-password"
        />
        <button type="submit" class="signup-btn">signup</button>
      </form>
      <p class="login-text">
        Or <button type="button" class="login-show-btn">log in</button> if you
        already have an account
      </p>
    </div>
    <div class="login-container">
      <form class="login-form" method="POST">
        <label for="login-form-email">email:</label>
        <input
          type="email"
          name="email"
          autocomplete="email"
          id="login-form-email"
        />
        <label for="login-form-password">password:</label>
        <input
          type="password"
          name="password"
          autocomplete="current-password"
          id="login-form-password"
        />
        <button type="submit" class="login-btn">login</button>
        <p class="signup-text">
          Or <button type="button" class="signup-show-btn">sign up</button> if
          you're a new user
        </p>
      </form>
    </div>
  </div>
</div>
