.header__home {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/header/home-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header/home-mob2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header/home-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header/home-tab2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header/home-lap.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header/home-lap2x.jpg);
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.header__link {
  margin-left: 30px;
  margin-right: auto;
}
.nav__link--current {
  position: relative;
  
    &::after {
      position: absolute;
      left: 0;
      bottom: -3px;
      content: '';
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: $border-color-accent;
  
    }
}

.header__icon {
  fill: $text-color-secondary;
}

.header__name {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }

  color: $text-color-secondary;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-left: auto;
  margin-right: 30px;
}

.header__nav-btn {
  background-color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $text-color-secondary;
  border-color: transparent;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.header__btns {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.header__nightmode {
  margin-right: 30px;
  margin-left: auto;
}

.header__nightmode-btn {
  background-color: inherit;
  border-color: transparent;
  cursor: pointer;
}

.header__lang {
  margin-left: auto;
  margin-right: 90px;
}

.header__search {
  display: flex;
  margin: 0 auto;
  max-width: 280px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid $text-color-secondary;
}
.nav-text{
  font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $text-color-secondary;
}
.header__search-input {
  display: block;
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  color: $text-color-secondary
 
}
::placeholder {
   color: $text-color-secondary
 }
.header__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-color: transparent;
  cursor: pointer;
}

.header__lang-select {
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border-color: transparent;
  color: $text-color-accent;
}

.header__filter {
  display: flex;
  margin: auto;
  height: 20px;
}

.header__filter-genres {
  margin-left: auto;
  margin-right: 15px;

  background-color: inherit;

  font-size: 14px;
  cursor: pointer;
  width: 85px;
  outline: none;
  border-color: transparent;
  border-bottom: 0.5px solid $text-color-secondary;
  color: $text-color-secondary;

  @media screen and (min-width: 768px) {
    width: 150px;
    margin-right: 30px;
  }
}
.header__filter-genres-option{
  color: $text-color-primary
}
.header__filter-sort{
  color: $text-color-primary
}
.headere-years{
  color: $text-color-primary;
}

.header__filter-votes {
  background-color: inherit;

  font-size: 14px;
  cursor: pointer;
  width: 85px;
  outline: none;
  border-color: transparent;
  border-bottom: 0.5px solid $text-color-secondary;
  background-color: transparent;
  color: $text-color-secondary;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}

.header__filter-years {
  margin-left: 15px;
  margin-right: auto;
  width: 85px;

  background-color: inherit;

  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-color: transparent;
  border-bottom: 0.5px solid $text-color-secondary;
  background-color: transparent;
  color: $text-color-secondary;

  @media screen and (min-width: 768px) {
    width: 150px;
    margin-left: 30px;
  }
}

.header-years {
  color: $text-color-primary
}