.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  // opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

  &.active {
    visibility: visible;
    z-index: 10;
  }
}

.onefilm__icon--close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  // width: 30px;
  height: 30px;
  border: none;
  background: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.icon--close {
  &:hover,
  &:focus {
    background-color: #ff6b08;
  }
}

.modal__onefilm {
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: auto;
  font-weight: 500;
  padding: 0;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
  }
}

.onefilm__all {
  padding: 48px 20px 40px 20px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 40px 72px 40px 36px;
    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    padding: 40px 12px;
    width: 806px;
    height: 558px;
  }
}
.onefilm__poster {
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
  }
}

.img__poster {
  width: 240px;
  height: 357px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1280px) {
    height: 478px;
    width: 100%;
  }
}

.onefilm__info {
  max-height: 850px;

  @media screen and (min-width: 768px) {
    margin-left: 68px;
    max-height: 470px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 18px;
    max-height: 478px;
  }
}
.onefilm__facts {
  display: flex;
}
.onefilm__title {
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.onefilm__facts-name {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
}
.onefilm__facts-name {
  color: #8c8c8c;
  margin-bottom: 8px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.facts__name {
  width: 110px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    width: 140px;
  }
}
.onefilm__facts-value {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  flex-direction: column;
}

.facts__value {
  // display: flex;
  // align-items: center;
  color: #000000;
  display: flex;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 8px;
  }
}
.facts__value-vote {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 14px;
}

.facts__value-v {
  font-size: 12px;
  line-height: 16px;
}
.facts__value-vo {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  .facts__value-vot {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
  }
}
.onefilm__about {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about__title {
  text-transform: uppercase;
  margin-bottom: 8px;
  line-height: 16px;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
}
.about__text {
  width: 240px;
  // max-height: 200px;
  overflow: auto;
  font-size: 12px;
  line-height: 20px;
  color: #000000;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.card__button-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.button__secondary {
  text-align: center;
  width: 110px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
}
.button__secondary:hover,
.button__secondary:focus {
  color: #fff;
  box-shadow: none;
  cursor: auto;
  background-color: #ff6b08;
  border: 1px solid #ff6b08;
}
body.modal__onefilm .active {
  height: 100vh;
  overflow-y: hidden;
}
