.backdrop {
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000050;
    transition: opacity 3000ms cubic-bezier(0.4, 0, 0.2, 1);
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
