.loading {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loading__title {
    font-weight: 500;
    font-size: 40px;
    color: $text-color-primary;
}

.loading__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    animation: spinner 1s linear infinite;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
  }